<div class="contextual">
<%= link_to l(:l_custdeps_new), {:controller=>"Customfieldsdeps", :action=>"new"}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:l_custdeps_plural) %></h2>

<% if @custs.any? %>

<%= @custs%>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>


