<script type="text/javascript" charset="utf-8">

Form.Element.disable("issue_custom_field_values_2");

var master = document.getElementById("issue_custom_field_values_1");
var slave = document.getElementById("issue_custom_field_values_2");

</script>
<%= Time.now.to_s %>
